<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/stylelog.css" th:href="@{/css/stylelog.css}" >
</head>
<body>
<div class="page-crypto-list">
    <ul class="crypto-list-tokens">
        <li class="some-crypto-token">BTC PRICE NOW: <span class="token1 token"></span></li>
        <li class="some-crypto-token">BNB PRICE NOW: <span class="token2 token"></span></li>
        <li class="some-crypto-token">ETH PRICE NOW: <span class="token3 token"></span></li>
        <li class="some-crypto-token">ADA PRICE NOW: <span class="token4 token"></span></li>
        <li class="some-crypto-token">IOST PRICE NOW: <span class="token5 token"></span></li>
    </ul>
</div>
<script src="/js/script.js"></script>
</body>
</html>